.block {
  background: var(--ifm-menu-color-background-active);
  border-radius: var(--ifm-global-radius);
  margin: 0 0 var(--ifm-spacing-vertical);
  border: 1px solid transparent;
  box-shadow: var(--ifm-alert-shadow);
  padding: var(--ifm-global-spacing);
}
