.hidden-block {
  text-align: center;
  font-weight: bold;
  max-width: 40vw;
}

.hidden-block--btn {
  margin-left: 0.5em;
  cursor: pointer;
  display: none;
}

.admin .hidden-block--btn {
  display: initial;
}

.admin .hidden-block--btn-hide {
  margin-right: 5px;
  float: right;
}
