.hint-container {
  user-select: none;
  color: gray;
}

.hint-container .hint-icon {
  cursor: help;
}

.hint-container .hint {
  transition: all 500ms ease-in-out;
  margin-left: 20px;
  font-weight: bold;
  color: initial;
  opacity: 0;
}

.hint-container .hint-icon:hover + .hint,
.hint-container .hint-icon:focus + .hint {
  opacity: 1;
}
